.menu{
    display:flex;
    justify-content: space-between;
    background-color: #000000;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    padding: 10px
}
body{
    background-color: #f7f2f2;
    margin: 0px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    margin:100px;
   background-color: #a2b254;
    
}
.grid img{
   
    border: 2px solid #000000;
    border-radius: 50px;
    
}

.origami{
    
    border-radius:30px;
    background-color:#ffffff;
justify-content: space-evenly;
    width: 310px;
    font-family: serif;
    padding:30px;
    margin:25px;

}